page-login {
    ion-content {
    background-image: url('../assets/imgs/v10.png');
    }
    .card{
        max-width: 500px;
        margin: auto;
        background: white;
        padding: 0px;
      }
}
